---
layout: position_page
title: "Community Advocate"
---

<%= partial "includes/positions/community-advocate/description" %>
<%= partial "includes/positions/community-advocate/responsibilities" %>
<%= partial "includes/positions/community-advocate/requirements" %>
<%= partial "includes/positions/community-advocate/relevant_links" %>
