---
layout: default
title: Community Edition or Enterprise Edition
suppress_header: true
extra_css:
  - installation.css
extra_js:
  - installation-ce.js
---
.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1 Community Edition or Enterprise Edition
  #content
    .wrapper.container{role: "main"}
      .method
        .method-content
          %ul
            %li
              %h2.block-title Introduction
              %p
                If you're interested in using GitLab, we recommend you
                = succeed ',' do
                  %a{:title => '', :href => '/installation'}download and install GitLab Enterprise Edition
                even if you're not sure whether you will ever
                subscribe for a license for
                = succeed '.' do
                  %a{:title => '', :href => '/installation'}GitLab Enterprise Edition
                You will still be able to make use of all features of GitLab Community Edition without a need for a license or registering.

              %h2.block-title License model
              %p
                GitLab is built on an open core model. That means there are two versions of GitLab: Community Edition and Enterprise Edition.
              %p
                GitLab Community Edition is open source, with an MIT Expat license. GitLab Enterprise Edition
                is built on top of Community Edition: it uses the same <i>core</i>, but adds additional features
                and functionality on top of that. This is under a proprietary license.
              %p
                For both versions: All javascript code in GitLab is open source. All javascript code written by
                GitLab is under the same MIT license.

              %h2.block-title Why use Enterprise Edition
              %p
                To be able to use GitLab Enterprise Edition features, you need a subscription which will give you a license.
                If you're using Enterprise Edition without a license, you are only using functions that are MIT licensed.
              %p
                This means that if you have installed GitLab Enterprise Edition without a license, you will not notice a
                difference with a typical Community Edition instance, but you have additional advantages:
              .about-ce
                %ol
                  %li
                    %p
                      If at any point in time you'd like to trial Enterprise Edition features, you can do this without the
                      need of setting up a new instance or upgrading your existing instance.
                      You simply enable the trial from within GitLab. If you're not satisfied
                      with the Enterprise Edition features, your instance will automatically revert back to only Community Edition
                      features after the trial has expired.
                  %li
                    %p
                      To upgrade from Community Edition to Enterprise Edition you will have
                      to make sure you're on the same version and follow specific steps, which often require downtime.
                      Using Enterprise Edition, changing between only Community Edition features and the full suite of Enterprise Edition features
                      is a matter of a single click.
              %p
                = succeed '.' do
                  %a{:title => '', :href => '/installation'}Install GitLab Enterprise Edition

              %h2.block-title Why use Community Edition
              %p
                If you need or want to use only open source software, Community Edition is the best choice. It is MIT licensed, and does not
                contain proprietary code. Functionally it will behave the same as Enterprise Edition without a license.
              %p
                Note that in the future if you decide to move to Enterprise Edition, an upgrade is required and may require downtime.
              %p
                = succeed '.' do
                  %a#ce_link{:title => '', :href => '/installation/?version=ce'}Install GitLab Community Edition
