---
layout: position_page
title: "Positions"
---

<ul>
  <% Dir.glob('source/positions/*').each do |f| %>
    <% if File.directory? (f) %>
      <% position_name = "#{f.split('/').last}" %>
      <li>
        <a href="/positions/<%= position_name %>"><%= position_name.gsub(/-/, ' ').titleize %></a>
      </li>
    <% end %>
  <% end %>
</ul>
