---
title: Features
description: "Learn about the various features of GitLab, including issue tracking, time tracking, reporting, file locking, and more."
suppress_header: true
extra_css:
  - features-v2.css
  - release-posts.css
extra_js:
  - features.js
  - bootstrap-tooltip.js
---
.page-container.landing-container.text-center{ :style => "padding-bottom: 35px;" }
  %div
    %h1.page-headline
      Reduce time to value with an integrated product
    %h2.page-subtitle
      for the complete DevOps life-cycle

    %a.btn.cta-btn.red.video-button
      %span.fa.fa-play-circle-o
      Watch the demo
    %object.video-container{data:"https://www.youtube.com/embed/PoBaY_rqeKA", frameborder:"0", allowfullscreen:true}


.page-container.table-of-contents.text-center{ :style => "padding-bottom: 35px;" }
  .container{ style: "max-width: 900px;" }
    .p{ :style => "font-size: 19px; text-align: left;" }
      This page lists all the features available in GitLab.
      Features are grouped per solution; a solution is either a phase of the DevOps life-cycle or a quality attribute of GitLab.
    .p
      &nbsp;
    .p{ :style => "font-size: 19px; text-align: left;" }
      Not all features are available in all versions.
      Each feature has icons next to it to indicate if it is available in Community Edition (CE), Enterprise Edition Starter (EES), and/or Enterprise Edition Premium (EEP).
      To compare the versions please see our <a href="/products">product page</a>.
    %hr
    %h3
      Phases of the DevOps life-cycle
    %ul
      - data.solutions.solutions.take(7).each do |key, solution|
        = link_to solution.display_name, "##{key}"
        &nbsp;&nbsp;
    %hr
    %h3
      Quality attributes of GitLab
    %ul
      - data.solutions.solutions.drop(7).each do |key, solution|
        = link_to solution.display_name, "##{key}"
        &nbsp;&nbsp;

- data.solutions.solutions.each do |key, solution|
  .page-container.feature-gallery.text-center.animated{ id: key }
    .container.titles
      %h1
        = solution.display_name
      %h4
        = solution.description
      .features-description.features-description-separation
        - data.features.features.each do |feature|
          - if (feature.screenshot_url != nil && feature.solution == "#{key}")
            = partial "includes/features/feature-item-with-image", locals: { feature: feature }
        - data.features.features.each do |feature|
          - if (feature.screenshot_url == nil && feature.include_on_features_page != false && feature.solution == "#{key}")
            = partial "includes/features/feature-item", locals: { feature: feature }

.gitlab-cta-container.text-center.animated
  .container
    %h1
      Choose the version of GitLab that is best for you
    %h4
      Host GitLab on your servers or let us host it for you
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/products"}
      Explore our products
    %a.btn.cta-btn.red.visible-sm.visible-xs{href: "/products"}
      Explore
